h1, h2, h3, p{
  color: whitesmoke;
 text-align: center;
}
.avatar{
  border-radius: 50px;
  margin-top: 50px;
  margin-bottom: 3px;
}
.about{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

